.exp {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.exp .sub {
  color: #e0e0e0;
}

.exp-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.exp-texto strong {
  color: #141414;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.projeto::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#557c55, #fa7070);
  position: absolute;
  top: 20px;
  left: -4px;
}

.projeto-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  width: 80px;
  text-align: right;
  color: #525252;
  font-size: 0.875rem;
}

.projeto-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.projeto-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
}

.projeto-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.projeto-skills li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .exp {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .exp .sub {
    color: #141414;
  }
  .exp-texto {
    font-size: 1.25rem;
  }
  .projeto-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .projeto {
    grid-template-columns: 1fr;
  }
}
